
/* stats */

.stats {
    padding-top: 170px;
    animation: slideInFromBottom 0.5s ease-out;
}

.stats-heading {
    max-width: 500px;
    margin: auto;
}

.stats .grid h3 {
    font-size: 20px;
    margin-bottom: 54px;
    }


.stats .grid p {
    font-size: 1.25rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .stats .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}