

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--grey-color);
    line-height: 1.6;
    font-family: 'Lato', sans-serif;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--grey-color);
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

code,
pre {
    background-color: var(--grey-color);
    color: #fff;
    padding: 10px;
}

.hidden {
    visibility: hidden;
    height: 0;
}


/* animations */

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-33%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(33%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-33%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(33%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
